<!DOCTYPE HTML>
<html>
  <head>
    <title>So We Must Think</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css" />
  </head>
  <body>


    <header id="header" class="alt">
      <div class="inner">
	<h1>So We Must Think</h1>
	<div style="width: 40em; margin: auto; background-color: rgba(0,0,0,0.7);">
	  <p style="text-align: justify; text-justify: inter-word; margin-bottom: 0.5em;">
	    A website <!-- through which to gather a -->
	    that showcases a
	    variety of my research projects,
	    the title of which takes as inspiration a quote by
	    New Zealand born and
	    <!-- legendary --> Nobel prize-winning nuclear physicist Sir Ernest
	    Rutherford:	  
	    &ldquo;We haven't the money, so we've got to think&rdquo;	    
	  </p>
	  <p style="text-align: right;">
	    &mdash;Prof David Bainbridge<br />
	    <!-- Director<br /> -->
	    <i>DL Research Group<br />
	    University of Waikato</i>
	  </p>
	</div>
	  
	<!--
	<p>A free responsive site template by <a href="https://templated.co">TEMPLATED</a></p>
	-->
      </div>
    </header>

    
    <!-- Wrapper -->
    <div id="wrapper">
      
      <!-- Banner -->
      <!--
      <section id="intro" class="main">
	    <span class="icon fa-diamond major"></span>
	<h2>Origins of the Quote</h2>

	<p>
	  The name of this web site, <em>So We Must Think</em>, is a
	  cribbed version of a quotation given by New Zealand born and
	  legendary Nobel prize-winning nuclear physicist Sir Ernest
	  Rutherford.&nbsp;<br /><br />

	  The full quote is: &quot;We haven't the money, so we've got to
	  think&quot;<br />
	</p>

	<ul class="actions">
	  <li><a href="#" class="button big">Learn More</a></li>
	</ul>
	
      </section>
      -->
      
      <!-- Items -->
      <section class="main items">


	<article class="item">
	  <header>
	    <a href="https://atea.space/"><img src="images/featured-atea-space-640x200.png" alt="" /></a>
	    <h3>Ātea</h3>
	  </header>
	  <p>
	    The Ātea project draws on indigenous protocols and world views to connect Māori to their knowledge,
	    language, culture, histories, stories and to each other.  Central to the project
	    we are developing a digital library that provides culturally
	    appropriate access mechanisms to the stored content.
<!--	    
&mdash;called the core&mdash;
	    are pushing at the boundaries of what consitutes a digital
	    
	    At its core is a digital repository
	    we are developing to manage the store and access

	    To support this we are developing
	    a digital repository 
	    At its core is a digital
	    repostiory we are developing to both store and manage access
	    
	    Through this project we are
	    exploring the role a digital library can take to provide the core storage

	    We manage this
	    repos
	    At the core of this project is
	    a Digital Library 
-->
	    <!--
	    In the Ātea project you will find examples of technological
	    innovations that draw on Māori protocols and world views to connect Māori to their knowledge,
	    language, culture, histories, stories and to each other.  Access 


	    we are using Greenstone3 to form the core.

-->
	    

	  </p>
	  <ul class="actions">
	    <li><a href="https://atea.space/" class="button">More</a></li>
	  </ul>
	</article>

	
	<article class="item">
	  <header>
	    <a href="#"><img src="images/featured-my-carved-dl-640x200.jpg" alt="" /></a>
	    <h3>Carving Personal Digital Libraries</h3>
	  </header>
	  <p>

	    <!-- Large-scale -->
	    National-level DLs provide access to a wealth of information,
	    but do little to support scholars in <!-- collating and --> managing the idenified
	    content over time. This project addresses this shortfall, letting scholars carve out
	    personal digital library of content from these resources, to be used in whatever way they see fit.
	    
	    
<!--
	    to over time
	    but fall short of the mark when 
	    
	    but provide little
	    
	    but do little by way of supporting individual scholars over time.
	    
	    but do little to support a scholar manage the specific

	    in developing the set of documents
	    
	    
	    but make it difficult to carve out the parts of that resource that are of
	    interest to an individual scholar.

	    This projects provides just 
	    
	    but the
	    parts of the resource
	    
	    provide
	    little by way of support to individual scholars to
	    
	    difficult to manage the parts
	    
	    is
	    Carving out peronsal DLs from National collections in large scale depositories
	    
	    National-level DLs provides a rich environment in which to locate
	    
	    Countries have invested heavily in developing digital repositories that
	    provide access to a vast array of information.  Case in point the
	    NZ Natio Library DL of that ntations newspaper arhicve: PaperPast.
	    
	    
	    t resources
	    such as the digitized archives of the nation's newspapers.

	    A key attribute of many national digital libraries is the thorough, extensive scale
	    
	    is the size of them
	    
	    National DLs are good to look up individual/specific resources, but typically provide little
	    for the scholar

	    caring your own ...

	    .  Case in point is the
	    National-level resources are all well and good ...
	    
-->	    
	    
	  </p>
	  <ul class="actions">
	    <li><a href="#" class="button">More</a></li>
	  </ul>
	</article>


	<article class="item">
	  <header>
	    <a href="/greenstone3/eurovision-library"><img src="images/featured-eurovision-lod-640x200.png" alt="" /></a>
	    <h3>Eurovision LOD Digital Library</h3>
	  </header>
	  <p>A Eurovision Song Contest Linked Open Data Digital Library.
	    In this project we explore the relationship between Linked Data and the structural
	    forms of a general purpose digital library.
	    <i>It all starts with a little <del>Sparkle</del> Sparql!</i>
		    
	  </p>
	  <ul class="actions">
	    <li><a href="/greenstone3/eurovision-library" class="button">More</a></li>
	  </ul>
	</article>

	
<!--
	<article class="item">
	  <header>
	    <a href="#"><img src="images/pic03.jpg" alt="" /></a>
	    <h3>Lorem massa nulla</h3>
	  </header>
	  <p>Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus non ornare.</p>
	  <ul class="actions">
	    <li><a href="#" class="button">More</a></li>
	  </ul>
	</article>
-->	
	<article class="item">
	  <header>
	    <a href="#"><img src="images/pic04.jpg" alt="" /></a>
	    <h3>Cell Block HTML</h3>
	  </header>
	  <p>
	    When it comes to spreadsheets, its all about the numbers!  Text is relegated to little more
	    than garnishing <!-- m: labels that help keep track of what all those numbers are! -->
	    <!-- There is little
	    in the spreadsheet toolbox if you to process and  -->
	    <i>Cell Block HTML</i> is about rectifying this deficiency, with full HTML rendering
	    capabilities in cells, a full complement of text-string operations, and even
	    text mining operations.

	    <!--
		minimal formatting is allowed, and it is hyperlinks
	      -->
	    <!--

	    You can't even
	    do something 
	    
	    Sure spreadsheet applications allow you to enter text into cells, in addition to numbers, but
	    <i> the dirty secret of the spreadsheet world</i> is that their role is denigrated to be
	    little more than immutable labels.  Display rich text involving different hyperlinks?  Forget it&mhas;it's actually disallowed!

	    -->
	    
	  </p>
	  <ul class="actions">
	    <li><a href="#" class="button">More</a></li>
	  </ul>
						</article>
      </section>
      
      <!-- CTA -->
      <section id="cta" class="main special">
	<h2>Etiam veroeros lorem</h2>
	<p>Phasellus ac augue ac magna auctor tempus proin<br />
	  accumsan lacus a nibh commodo in pellentesque dui<br />
	  in hac habitasse platea dictumst.</p>
	<ul class="actions">
	  <li><a href="#" class="button big">Get Started</a></li>
	</ul>
      </section>
      
				<!-- Main -->
				<!--
					<section id="main" class="main">
						<header>
							<h2>Lorem ipsum dolor</h2>
						</header>
						<p>Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus non ornare. Etiam eget neque id metus gravida tristique ac quis erat. Aenean quis aliquet sem. Ut ut elementum sem. Suspendisse eleifend ut est non dapibus. Nulla porta, neque quis pretium sagittis, tortor lacus elementum metus, in imperdiet ante lorem vitae ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam eget neque id metus gravida tristique ac quis erat. Aenean quis aliquet sem. Ut ut elementum sem. Suspendisse eleifend ut est non dapibus. Nulla porta, neque quis pretium sagittis, tortor lacus elementum metus, in imperdiet ante lorem vitae ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
					</section>
				-->

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
							<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<p class="copyright">&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.</p>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
<!--
	Based on: 
  	  Epilogue by TEMPLATED
	  templated.co @templatedco
	  Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)

        Changes:
          Images changed to those fitting the 'we we must think' web site theme
	  Lorem Ipsum text changed to detailing information about the 'we we must think' web site
-->
