<!DOCTYPE HTML>
<html>
  <head>
    <title>So We Must Think</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css" />
  </head>
  <body>


    <header id="header" class="alt">
      <div class="inner">
	<h1>So We Must Think</h1>
	<div style="width: 40em; margin: auto; background-color: rgba(0,0,0,0.7);">
	  <p style="text-align: justify; text-justify: inter-word; margin-bottom: 0.5em;">
	    A website <!-- through which to gather a -->
	    to showcase a
	    variety of my research projects,
	    the title of which takes as inspiration a quote by
	    New Zealand born and
	    legendary Nobel prize-winning nuclear physicist Sir Ernest:	  
	    &ldquo;We haven't the money, so we've got to think&rdquo;	    
	  </p>
	  <p style="text-align: right;">
	    &mdash;David Bainbridge<br />
	    <!-- Director<br /> -->
	    <i>DL Research Group<br />
	    University of Waikato</i>
	  </p>
	</div>
	  
	<!--
	<p>A free responsive site template by <a href="https://templated.co">TEMPLATED</a></p>
	-->
      </div>
    </header>

    
    <!-- Wrapper -->
    <div id="wrapper">
      
      <!-- Banner -->
      <!--
      <section id="intro" class="main">
	    <span class="icon fa-diamond major"></span>
	<h2>Origins of the Quote</h2>

	<p>
	  The name of this web site, <em>So We Must Think</em>, is a
	  cribbed version of a quotation given by New Zealand born and
	  legendary Nobel prize-winning nuclear physicist Sir Ernest
	  Rutherford.&nbsp;<br /><br />

	  The full quote is: &quot;We haven't the money, so we've got to
	  think&quot;<br />
	</p>

	<ul class="actions">
	  <li><a href="#" class="button big">Learn More</a></li>
	</ul>
	
      </section>
      -->
      
      <!-- Items -->
      <section class="main items">
	<article class="item">
	  <header>
	    <a href="#"><img src="images/carved-personal-dls.jpg" alt="" /></a>
	    <h3>Carving Personal Digital Libraries</h3>
	  </header>
	  <p>Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus non ornare.</p>
	  <ul class="actions">
	    <li><a href="#" class="button">More</a></li>
	  </ul>
	</article>
	<article class="item">
	  <header>
	    <a href="#"><img src="images/pic02.jpg" alt="" /></a>
	    <h3>Blandit adipiscing</h3>
	  </header>
	  <p>Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus non ornare.</p>
	  <ul class="actions">
	    <li><a href="#" class="button">More</a></li>
	  </ul>
	</article>
	<article class="item">
	  <header>
	    <a href="#"><img src="images/pic03.jpg" alt="" /></a>
	    <h3>Lorem massa nulla</h3>
	  </header>
	  <p>Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus non ornare.</p>
	  <ul class="actions">
	    <li><a href="#" class="button">More</a></li>
	  </ul>
	</article>
	<article class="item">
	  <header>
	    <a href="#"><img src="images/pic04.jpg" alt="" /></a>
	    <h3>Ipsum sed tempus</h3>
	  </header>
	  <p>Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus non ornare.</p>
	  <ul class="actions">
	    <li><a href="#" class="button">More</a></li>
	  </ul>
						</article>
      </section>
      
      <!-- CTA -->
      <section id="cta" class="main special">
	<h2>Etiam veroeros lorem</h2>
	<p>Phasellus ac augue ac magna auctor tempus proin<br />
	  accumsan lacus a nibh commodo in pellentesque dui<br />
	  in hac habitasse platea dictumst.</p>
	<ul class="actions">
	  <li><a href="#" class="button big">Get Started</a></li>
	</ul>
      </section>
      
				<!-- Main -->
				<!--
					<section id="main" class="main">
						<header>
							<h2>Lorem ipsum dolor</h2>
						</header>
						<p>Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus non ornare. Etiam eget neque id metus gravida tristique ac quis erat. Aenean quis aliquet sem. Ut ut elementum sem. Suspendisse eleifend ut est non dapibus. Nulla porta, neque quis pretium sagittis, tortor lacus elementum metus, in imperdiet ante lorem vitae ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam eget neque id metus gravida tristique ac quis erat. Aenean quis aliquet sem. Ut ut elementum sem. Suspendisse eleifend ut est non dapibus. Nulla porta, neque quis pretium sagittis, tortor lacus elementum metus, in imperdiet ante lorem vitae ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
					</section>
				-->

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
							<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<p class="copyright">&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.</p>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
<!--
	Based on: 
  	  Epilogue by TEMPLATED
	  templated.co @templatedco
	  Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)

        Changes:
          Images changed to those fitting the 'we we must think' web site theme
	  Lorem Ipsum text changed to detailing information about the 'we we must think' web site
-->
